@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}

.rounded {
	border-radius: 3px;
}

#quote-bg {
	background-color: rgb(39, 174, 96);
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

#quote-box {
	width: fit-content;
	margin: 0 auto;
	background-color: #fff;
	padding: 40px 50px;
	width: 450px;
	color: rgb(39, 174, 96);
	border-radius: 4px;
}

#up,
#down {
	display: flex;
	justify-content: space-between;
}

#text {
	font-size: 1.75rem;
	text-align: center;
	clear: both;
}

#author {
	text-align: right;
	opacity: 95%;
	padding: 20px 0;
	font-size: 1em;
}

#tweet-quote {
	background-color: rgb(39, 174, 96);
	height: 40px;
	width: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#new-quote {
	order: 2;
	padding: 9px 14px;
	border: none;
	background-color: rgb(39, 174, 96);
	color: #fff;
	font-size: 0.85em;
	cursor: pointer;
}
